.list{
position: relative;
margin-bottom: 10px;
padding-left: 20px;
}
.list:before {
    content: '▹';
    position: absolute;
    left: 0;
}

.unordered_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    color:#64ffda
}